.main-content {
  background-color: #222020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content h1 {
  margin-bottom: 30px;
  font-family: 'Graphik LCG' sans-serif;
  color: white;
}
.download  {
  padding: 20px;
  display: inline-block;
  border: 3px solid #2f1ce4;
  color: white;
  background-color: #2f1ce4;
}
.detail {
  display: inline-block;
  padding: 20px;
  border: 3px solid white;
  color: white;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0px 30px 0px;
}
.return {
  padding-left: 30px;
  background-image: url(../return.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left center;
}
.container h1 {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}
.blue{
  color: #2f1ce4
}
.head {
  margin: 100px 0px 25px 0px;
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
}
.paragraph {
  padding-left: 180px;
  margin-bottom: 20px;
}
.list {
  padding-left: 200px;
  font-size: 18px;

}
.container-image {
  text-align: center;
  padding-left: 200px;
  display: inline-block;
  margin: 50px auto 50px auto;
}
.main-image img{
  max-width: 400px;
}
.table {
  margin-top: 100px;
  border-collapse: collapse;
}
.table tr, td, th {
  border: 1px solid #aa00aa;
  padding: 1px;
}
