@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-content {
  background-color: #222020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head1 {
  margin-bottom: 30px;
  font-family: 'Graphik LCG' sans-serif;
  color: white;
}

.download  {
  padding: 20px;
  display: inline-block;
  border: 3px solid #2f1ce4;
  color: white;
  background-color: #2f1ce4;
}

.detail {
  display: inline-block;
  padding: 20px;
  border: 3px solid white;
  color: white;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0px 30px 0px;
}

.return {
  padding-left: 30px;
  background-image: url(../../2/return.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left center;
}

.container h1 {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.blue{
  color: #2f1ce4
}

.head {
  margin: 100px 0px 25px 0px;
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
}

.paragraph {
  padding-left: 180px;
  margin-bottom: 20px;
}

.list {
  padding-left: 200px;
  font-size: 18px;

}

.container-image {
  text-align: center;
  padding-left: 200px;
  display: inline-block;
  margin: 50px auto 50px auto;
}

.main-image img{
  max-width: 400px;
}

.table {
  margin-top: 100px;
  border-collapse: collapse;
}

.table tr, td, th {
  border: 1px solid #aa00aa;
  padding: 1px;
}

.wave{
  background-image: url(../../4/figure1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.modules{
  font-style: 'Gilroy Regular';
  margin: auto 20% auto 20%;
}

.logo{
  margin: 3% 0 3% 0;
}

.return{
  margin: 3% 0 3% 0;
  font-style: 'Gilroy Medium';
  font-size: 20px;
}

.main{
  margin: auto 5% auto 5%;
}

.module-head{
  padding-left: 7%;
  font-style: 'Gilroy ExtraBold';
  font-size: 45px;
}

.parent {
  width: 88%;
  margin: 5% 5%;
}

.first-child {
  box-shadow: 2px 2px 10px 1px #eaeaea;
  display: inline-block;
  margin-right: 5%;
  width: 43%;
  min-height: 22%;
  border: 1px solid #eaeaea;
  padding: 20% 8% 9% 5%;
  vertical-align: middle;
  position: relative;
  background-image: url(../../4/first-left.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 40%;
}

.first-right-child{
  display: inline-block;
  box-shadow: 2px 2px 10px 1px #eaeaea;
  margin-right: 5%;
  width: 43%;
  min-height: 22%;
  border: 1px solid #eaeaea;;
  padding: 20% 8% 5.5% 5%;
  vertical-align: middle;
  position: relative;
  background-image: url(../../4/first-right.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 40%;
}

.second-child{
  display: inline-block;
  box-shadow: 2px 2px 10px 1px #eaeaea;
  margin-top: 3%;
  margin-right: 5%;
  width: 43%;
  min-height: 22%;
  border: 1px solid #eaeaea;;
  padding: 21% 3% 5% 5%;
  vertical-align: middle;
  position: relative;
  background-image: url(../../4/second-left.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 40%;
}

.second-right-child{
  display: inline-block;
  box-shadow: 2px 2px 10px 1px #eaeaea;
  margin-top: 3%;
  margin-right: 5%;
  width: 43%;
  min-height: 22%;
  border: 1px solid #eaeaea;;
  padding: 22% 8% 15% 5%;
  vertical-align: middle;
  position: relative;
  background-image: url(../../4/second-right.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 40%;
}
.number {
  position: absolute;
  right: 5%;
  bottom: 2%;
  color: #eaeaea;
  opacity: 1;
  font-size: 33px;
}

.header{
  padding: 0 0 4% 0;
  font-style: 'Gilroy ExtraBold';
  font-size: 21px;
  color: #2f1ce4;
}

.btn-center {
  text-align: center;
  margin: 7% 38% 75% 38%;
  padding: 1.5% 3% 1.5% 3%;
  color: #2f1ce4;
  border: 3px solid #2f1ce4;
}

.inside{
  list-style-type: none;
  padding: 2% 2% 2% 0;
  font-size: 12px;
}
